.swiper-image {
    /* background-image: url("https://cdn.onoff.ge/media/thumbs/059/0597471.png"); */
    background-image: url("./image.jpg");
    width: 1366px; 
    height: 361px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
}
.swiper-image1 {
    background-image: url("./image2.png");
    width: 1366px; 
    height: 361px;
    object-fit: contain;  
}
/* @media all and (max-width: 810px) {
    .swiper-image {
        background-image: url("https://cdn.onoff.ge/media/thumbs/059/0597472.png");
        max-width: 100%;
        max-height: 100%;
    }
} */
.poster_boxes {
    width: 310px;height: 120px;border-radius: 6px; background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.poster_title:hover {
    color: #fff;
}
.poster_boxes:hover{ 
    background-color: #B1B9D9;
    cursor: pointer;
}
.mySwiper1 .swiper-button-prev {
    background-color: #455644;
    position: absolute !important;
    top: 120px !important;
    left: auto !important;
    right: 310px !important;
    border-radius: 50%;
    width: 50px !important;
    height:50px !important;
    color: #fff !important;
  }
.mySwiper1 .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 10px !important;
    font-weight: bolder;
  }
.mySwiper1 .swiper-button-next {
    font-size: 10px !important;
    color: #fff !important;
    background-color: #455644;
    position: absolute;
    top: 120px !important;
    left: auto !important;
    right: 240px !important;
    border-radius: 50%;
    width: 50px !important;
    height:50px !important;
  }