@font-face {
  font-family: defaultFONT;
  src: url("./fonts/FjallaOne-Regular.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.discount__text {
  color: #000;
}
.filter__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter__list ul li {
  font-size: 20px;
  border-radius: 9px;
  cursor: pointer;
  padding: 7px;  
}
.active {
  background-color: #FFFFFF;
}

.none__body__scroll {
  overflow: hidden;
}

.defFont {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.header__navigation {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left__header__items {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right__header__items {
  width: 200px;
   
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__line {
  width: 100%;
  background-color: #dbdbdb;
  height: 1px;
}
.navbar_navigation {
  height: 80px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;


}
@media all and (max-width: 1366px) {
  .header__navigation {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar_navigation {
    padding-left: 20px;
    padding-right: 20px;
  }
  .all_categories {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.left__navbar__navigation {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.nav__items {
  font-size: 17px;
  font-weight: 500;
  margin-left: 15px;
}
.nav__item__link {
  text-decoration: none;
  color: #000;
}
.active_navlink {
  color: red;
}
.menu__icon {
  display: none;
}

@media all and (max-width: 400px) {
  .logo__name {
    display: none;
  }
  .discount__text {
    font-size: 11px;
  }
}
@media all and (max-width: 560px) {
}

@media all and (max-width: 665px) {
  .menu__icon {
    display: block !important;
    margin-left: auto;
    /* padding-right: 20px; */
  }
  .nav__items {
    display: none;
  }
  .left__navbar__navigation {
    width: 100%;
  }
  .right__navbar__navigation {
    margin-top: 30px;
  }
}
@media all and (max-width: 810px) {
  .left__header__items {
    display: none;
  }
  .right__header__items {
    display: none;
  }
  .header__navigation {
    justify-content: center;
  }
  .swiper-button-next {
    display: none !important;
  }
  .swiper-button-prev {
    display: none !important;
  }
}
@media all and (max-width: 1155px) {
  .navbar_navigation {
    justify-content: center;
  }
}
@media all and (max-width: 1024px) {
  .product__list__item {
    margin-top:  17px;
  }
  .poster_boxes {
    margin-top:  17px;
  }
  .product__list__item__cart {
    margin-left: 20px;
  }
  .product__list__item__star {
    margin-left: 20px;

  }
}